body{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    height: 300px;
    width: 300px;
}
.box{
   
    background-color: red;
    margin: 10px 0px;
    font-size: 48px;
    color: white;
    transition:all 1s linear ;
}
.box:hover{
   /* background-color: green;
   transform: rotate(360deg); */
   transform: translateX(200px) translateY(100px) rotate(360deg);
}
