/* .heading{
    border: 5px double red;
        /* border-right: 5px double red; 
      border-bottom-left-radius: 20px;
            border-top-right-radius: 20px;
      /* border-left:none;
      border-bottom:none; 
        width:fit-content;
        padding: 20px 100px 30px;
        /* a b -- a-top,bottom
                  b-left,right
          a b c -- a-top
                   b-left,right
                   c-bottom
          a b c d -- top right bottom left*/
        /*margin:50px
        } */
/*          
#box{
  height: 100px;
  width: 100px;
  background-color: red;
  font-size: 48px;
  color: white;
  padding: 25px;
  box-sizing: border-box;
} */


*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
 background-color: antiquewhite;
}
.myDiv{
  background-color: white;
  height: 450px;
  width: 300px;
    max-width: 100vw;
  margin: 10% auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.myDiv>img{
  border-radius: 20px;
  width: 250px;
}
h1,p{
  margin:10px 0px;
}
button{
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
}
















